html {
    font-family: consolas;
}

@media (min-width: 1301px) {
        * {
            padding: 0;
            margin: 0 auto;
            color: #00FF00;
        }

        body {
            /* background: #FFFFFF; */
            background: #ffad42;
            min-height: 100%;
        }

        #frame-top {
            margin-top: 100px;
            padding-top: 20px;
            width: 1000px;
            height: 580px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background: #3E4058;
        }

        #camera1 {
            display: inline-block;
            background: black;
            width: 5px;
            height: 5px;
            margin: 0 0 22.5px 47%;
        }

        #camera2 {
            display: inline-block;
            background: black;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0px 0 20px 10px;
        }

        #screen {
            background: #222222;
            border-radius: 2px;
            width: 950px;
            height: 500px;
        }

        #frame-bottom {
            background: #33354A;
            width: 1200px;
            height: 20px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 20% 50%;
            border-bottom-right-radius: 20% 50%;
        }

        #name {
            padding: 100px 0 50px 0;
            text-align: center;
            font-weight: normal;
            font-size: 350%;
        }

        span {
            padding: 5px;
        }

        ul {
            font-size: 125%;
            text-align: center;
        }

        li {
            display: inline;
        }

        .nav:link, .nav:visited, .nav:active {
            text-decoration: none;
        }

        .nav:hover {
            text-decoration: underline;
        }

        #shadow {
            /* background: #908E8E; */
            background: #bb4d00;
            position: absolute;
            left: calc(50% - 650px);
            width: 1300px;
            height: 30px;
            border-radius: 50%;
            z-index: -1;
        }

        #table {
            /* background: #B3B3B3; */
            background: #f57c00;
            position: absolute;
            width: 100%;
            height: calc(100% - 550px);
            min-height: 220px;
            top: 550px;
            left: 0;
            z-index: -2;
    }
}

@media (max-width: 1300px) {

    * {
        margin: 0 auto;
        color: #00FF00;
    }

    body {
        background: #222222;
        height: 100%;
        width: 100%;
    }

    span {
        font-size: 175%;
    }

    #name {
        padding: 100px 0 50px 0;
        text-align: center;
        font-weight: normal;
        font-size: 350%;
    }

    ul {
        font-size: 225%;
        text-align: center;
    }

    li {
        display: inline;
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav:link, .nav:visited, .nav:active {
        text-decoration: none;
    }

    .nav:hover {
        text-decoration: underline;
    }
}