@media (max-width: 1300px) and (orientation: portrait){

    * {
        margin: 0 auto;
        padding: 0;
        color: #00FF00;
    }

    body {
        background: #f57c00;
        height: 100%;
        width: 100%;
    }

    #frame-top {
        background: #33354A;
        margin-top: calc(50vh - 720px);
        padding-top: 40px;
        width: 700px;
        height: 1300px;
        border-radius: 70px;
    }

    #camera1 {
        display: inline-block;
        background: black;
        width: 130px;
        height: 20px;
        margin: 0 0 40px 40%;
        border-radius: 20px;
    }

    #camera2 {
        display: inline-block;
        background: black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0px 0 40px 120px;
    }

    #screen {
        background: #222222;
        border-radius: 2px;
        width: 650px;
        height: 1100px;
    }

    #shadow {
        background: #bb4d00;
        position: absolute;
        left: calc(50% - 400px);
        margin-top: -15px;
        width: 800px;
        height: 30px;
        border-radius: 50%;
        z-index: -1;
    }

    span {
        font-size: 0;
    }

    #name {
        padding: 100px 0 50px 0;
        text-align: center;
        font-weight: normal;
        font-size: 350%;
    }

    ul {
        list-style-type: none;
        font-size: 225%;
        text-align: center;
    }

    li {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 10px;
    }

    .nav:link, .nav:visited, .nav:active, .nav:hover {
        text-decoration: none;
        padding: 15px;
        background: #313131;
    }

    .nav:active {
        background: black;
    }
}
