@media (max-width: 1300px) and (orientation: landscape){

    * {
        margin: 0 auto;
        padding: 0;
        color: #00FF00;
    }

    body {
        background: #f57c00;
        height: 100%;
        width: 100%;
    }

    #frame-top {
        background: #33354A;
        width: 800px;
        height: 370px;
        border-radius: 50px;
        margin-top: calc(50vh - 220px);
        padding-top: 15px;
    }

    /* #camera1 {
        background: black;
        width: 10px;
        height: 40px;
        border-radius: 20px;
        margin-left: 30px;
    }

    #camera2 {
        background: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    } */

    #screen {
        background: #222222;
        width: 660px;
        height: 350px;
    }

    span {
        font-size: 0;
    }

    #name {
        padding: 50px 0 50px 0;
        text-align: center;
        font-weight: normal;
        font-size: 250%;
    }

    ul {
        padding: 0;
        font-size: 150%;
        text-align: center;
    }

    li {
        display: inline;
    }

    .nav:link, .nav:visited, .nav:active, .nav:hover {
        text-decoration: none;
        display: inline-block;
        padding: 15px;
        width: 16%;
        background: #313131;
    }

    .nav:active {
        background: black;
    }
}