@import "./variables.scss";

.keyboard {
  display: flex;
  justify-content: center;
  background-color: $kb-fill;
  border: 2px solid $kb-border;
  border-radius: 4px 4px 16px 16px;
  height: 3vmin;
  width: 98vmin;
  max-height: 3 * $base-unit;
  max-width: 98 * $base-unit;
  z-index: 3;
}

.keyboard-grip {
  background-color: $kb-border;
  border-radius: 0px 0px 8px 8px;
  height: 40%;
  width: 25%;
}
