@import "./variables.scss";

.terminal {
  @include code;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.line {
  word-wrap: break-word;
  margin-bottom: 8px;
  padding-top: 2px;
}

.input-info {
  float: left;
  padding-top: 2px;
}

.input-container {
  display: block;
  overflow: hidden;
}

input {
  @include code;
  background-color: $sc-fill;
  border: none;
  outline: none;
  padding: 0;
  width: 100%;
  color: $text-primary;
}

.text-accent {
  color: $text-accent;
  font-weight: bold;
}

.text-secondary {
  color: $text-secondary;
}
