// Base unit for setting max dimensions
$base-unit: 12px;

// Component colors
$dv-fill: #222222;
$dv-border: lighten($dv-fill, 25%);
$sc-fill: #000000;
$kb-fill: #cccccc;
$kb-border: darken($kb-fill, 30%);

// Theme colors
$bg-primary: #2e333a;
$bg-secondary: #eea880;
$text-primary: #cccccc;
$text-secondary: $bg-secondary;
$link: #0088ff;
$text-accent: #00bb88;

@mixin code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 1em;
}
