@import "./css/variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
}

@media (min-width: $desktop-width) and (min-height: $desktop-height) {
  body {
    overflow: hidden;
  }

  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
