body {
  background-color: #ccc;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-accent {
  color: #0a8;
  font-weight: bold;
}

.app {
  flex-direction: column;
  height: 100vh;
}

.device {
  position: relative;
  background-color: #222;
  border: 3px solid #444;
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  height: 350px;
  width: 500px;
}

.screen {
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  height: auto;
  color: #ccc;
}

.keyboard {
  display: flex;
  justify-content: center;
  background-color: #ddd;
  border: 2px solid #bbb;
  border-radius: 4px 4px 16px 16px;
  height: 20px;
  width: 700px;
}

.keyboard-grip {
  background-color: #bbb;
  border-radius: 0px 0px 8px 8px;
  height: 8px;
  width: 200px;
}
